# build output
dist/
.astro/

# dependencies
node_modules/

# env
.env
.env.production

# sanity
studio/dist/

# logs
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.DS_Store
